.pulse {
  --pulse-start-color: rgba(204, 169, 44, 1);
  --pulse-end-color: rgba(204, 169, 44, 0);

  border-radius: 50%;
  box-shadow: 0 0 0 var(--pulse-start-color);
  animation: pulse 2s infinite;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-start-color);
  }
  70% {
    box-shadow: 0 0 0 10px var(--pulse-end-color);
  }
  100% {
    box-shadow: 0 0 0 0 var(--pulse-end-color);
  }
}
