<div card class="flex gap-4 p-4 mb-4 flex-col 2xl:flex-row">
  <form
    [formGroup]="filterForm"
    novalidate
    class="flex gap-4 grow flex-col xl:flex-row"
  >
    <div class="grow">
      <label class="block">Введите фильтр для поиска</label>
      <div form-control class="flex max-w-full">
        <input
          class="grow bg-transparent border-0 !ring-0"
          formControlName="text"
          type="text"
        />
        <button
          class="p-0 pr-3"
          *ngIf="filterForm.value.text"
          span-button
          (click)="this.filterForm.controls.text.setValue('')"
        >
          <span class="material-icons">close</span>
        </button>
      </div>
    </div>
    <div class="flex gap-4 flex-wrap">
      <div class="">
        <label class="block">Мин. цена</label>
        <input
          form-control
          class="max-w-[10rem]"
          formControlName="minPrice"
          type="number"
          min="0"
        />
      </div>
      <div class="">
        <label class="block">Макс. цена</label>
        <input
          form-control
          class="max-w-[10rem]"
          formControlName="maxPrice"
          type="number"
          min="0"
        />
      </div>
      <div class="">
        <label class="block">Сортировка</label>
        <select form-control formControlName="sortType">
          <option [value]="0">От новых к старым</option>
          <option [value]="1">От старых к новым</option>
          <option [value]="2">По алфавиту от А до Я</option>
          <option [value]="3">По алфавиту от Я до А</option>
          <option [value]="4">От дешевых к дорогим</option>
          <option [value]="5">От дорогих к дешевым</option>
        </select>
      </div>
    </div>
  </form>
  <div class="flex gap-4 justify-end items-end flex-wrap">
    <app-button-toggle-group [value]="type" (valueChange)="setType($event)">
      <app-button-toggle [value]="0" title="Большие">
        <span class="material-icons block">grid_view</span>
      </app-button-toggle>
      <app-button-toggle [value]="1" title="Средние">
        <span class="material-icons block">splitscreen</span>
      </app-button-toggle>
      <app-button-toggle [value]="2" title="Малые">
        <span class="material-icons block">view_headline</span>
      </app-button-toggle>
    </app-button-toggle-group>
    <div class="space-x-4 flex">
      <button button (click)="resetFilters()" title="Сбросить фильтры">
        <span class="material-icons block">filter_alt_off</span>
      </button>
      <button
        button
        (click)="clearSelectedClothes()"
        title="Сбросить выделения"
      >
        <span class="material-icons block">layers_clear</span>
      </button>
      <button
        button
        title="Обновить"
        [disabled]="disableUpdate"
        (click)="updateCLothes()"
      >
        <span class="material-icons block" [ngClass]="{ pulse: pulseUpdate }"
          >update</span
        >
      </button>
    </div>
    <div class="" [hidden]="!filterTimer">
      <div class="spinner-border"></div>
    </div>
  </div>
</div>
