<div class="flex justify-center items-center h-screen">
  <div
    class="border border-neutral-800 rounded p-5 space-y-2 dark:bg-primary-dark"
  >
    <div class="text-2xl">Авторизуйтесь</div>
    <form class="space-y-2" [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="space-x-2 flex items-center">
        <label class="grow">Логин</label>
        <input form-control formControlName="email" type="text" required />
      </div>
      <div class="space-x-2">
        <label class="grow">Пароль</label>
        <input
          form-control
          formControlName="password"
          type="password"
          required
        />
      </div>
      <button button type="submit">Войти</button>
    </form>
  </div>
</div>
