<button class="btn btn-dark cloth-card d-flex text-start w-100 h-100" (click)="item.active = !item.active" [ngClass]="{'active':item.active}">
  <div
    class="me-2 opacity-50"
    style="width: 40%; height: 100px; background-color: brown"
  ></div>
  <div class="w-100 h-100 d-flex flex-column justify-content-between">
    <div class="fs-5">{{ item.title }}</div>
    <div class="d-flex justify-content-between align-items-end">
      <div>
        <div class="">Ширина: {{ item.width }} см.</div>
        <div class="">Длина: {{ item.height }} см.</div>
      </div>
      <div class="fs-5">Цена: {{ item.price }} грн.</div>
    </div>
  </div>
</button>
