<aside
  class="h-screen dark:bg-primary-dark border-r border-neutral-800"
>
  <a [routerLink]="['/']" class="flex p-4 text-xl items-center"
    ><div class="rounded-full bg-white px-1.5 py-1 text-black">CS</div>
    <h1 class="ml-2 hidden lg:block">{{ title }}</h1></a
  >
  <div class="sidebar p-4">
    <div class="border-y border-neutral-400 mt-3 pb-3 mb-3 flex">
      <div class="image">
        <img src="" class="img-circle shadow" />
      </div>
      <div class="info">
        <a href="#" class="d-block"></a>
      </div>
    </div>
    <nav class="mt-2" overlay-scrollbars>
      <ul class="">
        <li *ngFor="let item of menuItems()" class="my-2">
          <app-sidebar-item [item]="item"></app-sidebar-item>
        </li>
      </ul>
    </nav>
  </div>
</aside>
