.cloth-card {
  transition: opacity 1s;
  &.active {
    background-color: #214868;
    &:hover {
      background-color: #32536e;
    }
    & .image-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0.2;
    }
  }
}

.flex-basis-10 {
  flex-basis: 10rem;
}

.ellipsis {
  text-overflow: ellipsis;
}

.medium-type-preview {
  width: 10rem;
}
