<app-catalog-filter
  (onClear)="clear()"
  [(filter)]="filter"
  (filterChange)="onFilterUpdate($event)"
  [(type)]="type"
  (typeChange)="typeChange()"
></app-catalog-filter>
<ng-container [ngSwitch]="items.length > 0">
  <div
    class="cloth-grid mx-auto container-xxxl"
    [ngClass]="{
      'big-cloth-grid': type == 0,
      'medium-cloth-grid': type == 1,
      'small-cloth-grid': type == 2
    }"
    *ngSwitchCase="true"
  >
    <div *ngFor="let item of items" class="position-relative">
      <app-cloth-card [item]="item" [type]="type"></app-cloth-card>
    </div>
  </div>
  <app-not-found *ngSwitchCase="false" [hidden]="!init" class="mx-auto"></app-not-found>
</ng-container>
