.fake-card {
  border-radius: 0.375rem;
  background-color: #fff;
  opacity: 0.01;
  height: 100%;
}

.big-cloth-grid{
   --grid-layout-gap: 0.5rem;
   --grid-column-count: 3;
   --grid-item--min-width: 20rem;
 
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
   --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
 
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
   grid-gap: var(--grid-layout-gap);
}

.medium-cloth-grid{
  --grid-layout-gap: 0.5rem;
   --grid-column-count: 3;
   --grid-item--min-width: 25rem;
 
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
   --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
 
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
   grid-gap: var(--grid-layout-gap);
   grid-auto-rows: 7rem;
}

.small-cloth-grid{
  --grid-layout-gap: 0.5rem;
   --grid-column-count: 5;
   --grid-item--min-width: 16rem;
 
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
   --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
 
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
   grid-gap: var(--grid-layout-gap);
}
