<app-catalog-filter
  (onClear)="clear()"
  (onFilterUpdate)="update($event)"
  [(type)]="type"
></app-catalog-filter>
<div
  class="cloth-grid mx-auto container-xxxl"
  [ngClass]="{
    'big-cloth-grid': type == 0,
    'medium-cloth-grid': type == 1,
    'small-cloth-grid': type == 2
  }"
  *ngIf="init"
  [ngSwitch]="items.length > 0"
>
  <ng-container *ngSwitchCase="true">
    <div *ngFor="let item of items">
      <app-cloth-card [item]="item" [type]="type"></app-cloth-card>
    </div>
  </ng-container>
  <app-not-found *ngSwitchCase="false"></app-not-found>
</div>
